ShopWebFormsClient/Connected Services/UserReference/ShopService.Transporter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopService.Transporter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopService.Transporter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" type="xs:boolean" />
      <xs:element minOccurs="0" name="salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" type="xs:int" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUser" nillable="true" type="tns:TUser" />
  <xs:complexType name="ArrayOfTUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUser" nillable="true" type="tns:TUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUser" nillable="true" type="tns:ArrayOfTUser" />
</xs:schema>