ShopWebFormsClient/Connected Services/ProductReference/ShopService.Transporter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopService.Transporter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopService.Transporter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="timestamp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TProduct" nillable="true" type="tns:TProduct" />
  <xs:complexType name="ArrayOfTProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TProduct" nillable="true" type="tns:TProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTProduct" nillable="true" type="tns:ArrayOfTProduct" />
</xs:schema>