ShopFormsClient/Connected Services/UserReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="User" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ShopService.Transporter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUser_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUser_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_AdminLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="IUser_AdminLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IUser_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IUser_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_ReadAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAll" />
  </wsdl:message>
  <wsdl:message name="IUser_ReadAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IUser_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUser_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUser_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IUser">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Login" message="tns:IUser_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/LoginResponse" message="tns:IUser_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/AdminLogin" message="tns:IUser_AdminLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/AdminLoginResponse" message="tns:IUser_AdminLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Create" message="tns:IUser_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/CreateResponse" message="tns:IUser_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Read" message="tns:IUser_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/ReadResponse" message="tns:IUser_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/ReadAll" message="tns:IUser_ReadAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/ReadAllResponse" message="tns:IUser_ReadAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Update" message="tns:IUser_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/UpdateResponse" message="tns:IUser_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUser/Delete" message="tns:IUser_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUser/DeleteResponse" message="tns:IUser_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUser" type="tns:IUser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUser/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/IUser/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IUser/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/IUser/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAll">
      <soap:operation soapAction="http://tempuri.org/IUser/ReadAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IUser/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUser/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="User">
    <wsdl:port name="BasicHttpBinding_IUser" binding="tns:BasicHttpBinding_IUser">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ShopService/User/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>