ShopWebFormsClient/Connected Services/OrderReference/ShopService.Transporter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopService.Transporter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopService.Transporter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isDelivered" type="xs:boolean" />
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfTOrderItem" />
      <xs:element minOccurs="0" name="orderid" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TOrder" nillable="true" type="tns:TOrder" />
  <xs:complexType name="ArrayOfTOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TOrderItem" nillable="true" type="tns:TOrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTOrderItem" nillable="true" type="tns:ArrayOfTOrderItem" />
  <xs:complexType name="TOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemid" type="xs:int" />
      <xs:element minOccurs="0" name="orderid" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="productid" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TOrderItem" nillable="true" type="tns:TOrderItem" />
</xs:schema>